:root{

    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Montserrat', sans-serif;
    --font3: 'Times New Roman', Times, serif;
    --font4: 'Open Sans', sans-serif;
    --cor1:#ffffff;
    --cor2:#000000;
    --cor3:#0085C7;
    --cor4:#005A87;
    --cor4T:#005a8771;
    --cor5:#003047;
    --cor6:#008DD4;
    --cor7:#0074AD;
    --cor8:#1d1d1b;
    --cor8T:#1b1b1d74;
    --cor9:#BBE8FA;
}

*{
    font-family: var(--font1);
}

img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .galeriadefoto {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Hide the images by default */
  .meuSlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
