@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root{

    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Montserrat', sans-serif;
    --font3: 'Times New Roman', Times, serif;
    --font4: 'Open Sans', sans-serif;
    --cor1:#ffffff;
    --cor2:#000000;
    --cor3:#0085C7;
    --cor4:#005A87;
    --cor4T:#005a8771;
    --cor5:#003047;
    --cor6:#008DD4;
    --cor7:#0074AD;
    --cor8:#1d1d1b;
    --cor8T:#1b1b1d74;
    --cor9:#BBE8FA;
}

*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

html{
height: inherit;
}

body{
    max-width: 1200px;
    background-color: var(--cor8);
    margin-bottom: 500px;
    font-family: var(--font1);
    }

.main h1{
    background-color: var(--cor8);
    color: var(--cor6);
    padding: 20px;
    text-align: center;
    font-family: var(--font4);
    font-size: 50px;   
}

.inicio{
    display: block;
    background-image: url(../img/tri02.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 75vh;
    background-size: contain;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.index{
    display: grid;
    grid-template-columns: auto auto;
    gap:10px;
}


ul{
    padding-block-start: 1vw;
}

.inicio li {
    list-style-type: none;
    padding: 0.5vw 10px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    background-color: var(--cor4T);
    border-radius: 10px;
    box-shadow: 4px 4px 4px var(--cor8T);
    text-align: center;
}

.index li{
    list-style-type: none;
    padding: 0.5vw 10px;

    margin-inline-start: 12.5%;
    margin-inline-end: 12.5%;

    margin-top: 10px;
    background-color: var(--cor4T);
    border-radius: 10px;
    box-shadow: 4px 4px 4px var(--cor8T);
}

.inicio a, .index a {
    text-decoration: none;
    font-family: var(--font1);
    font-weight: 500;
    font-size: 2vw;
    color: var(--cor1);
}

.principal{
    display: flex;
    /*background-color: #ffffff; */
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    
}

div.capitulo{
    margin: 0px;
    min-height: 100vh;
}

.timeline{
    background-color: var(--cor8);
    flex: 10%;
    position: relative;
    margin: 0px auto;

}


.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--cor4);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-top: 15px;
    margin-left: -3px;
  }



.historia{
    flex: 90%;
    padding: 50px 50px;
    background-color: var(--cor1);
}

.titulo2{
    width: 7vw;
    position: absolute;
    margin-left: 1vw;
    margin-top: 1vw;
    
}

.back{
    display: block;
    background-image: url(../img/tri08_branco.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-size: 15%;
    background-color: var(--cor3);
    margin-top: 1vw;

    border-radius: 30px 0 0 30px;

}

h2{
    font-family: var(--font2);
    font-size: 2.5vw;
    letter-spacing: 2px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 0vw;
    margin-right: 12vw;
    margin-left: 2vw;
    margin-bottom: 10px;
    color: var(--cor9);
    background-color: var(--cor3);
    }    

.capitulo{
    margin: 20px 30px 30px 30px;

}
.capitulo p{
    font-family: var(--font2);
    text-indent: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 2px;
    text-align: justify;
    padding: 10px 0px;

}


.foto{
    margin: 14px 8px 0px 0px;
}

.direita{
    float: right;
}
.esquerda{
    float: left;
}
.centro{
 text-align: center;
}

img.em_pe{
    width: 15vw;
}

img.deitada{
    width: 30vw;
}


.capitulo ul{
    margin-left: 1.1vw;

}

footer{
    width: 100%;
    position: fixed;
    background-color: #0085C7;    
    padding-top: auto;
    padding-bottom: auto;
    left: 0;
    bottom: 0;
    
}

footer > a{
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    color: var(--cor1);
    float: right;
    padding: 10px 40px;
    font-family: var(--font1);
}

.vazio{
    background-color: var(--cor8);
    height: 4vh;
    margin: 15px -10vw;

}

.data{
    float: right;
    font-family: var(--font2);
    font-size: 0.8em;
    font-style: italic;

}

div.paralax{
    background-attachment: fixed;
}

div.paralax > p{
    background-color: var(--cor1);
}

div.paralax#fotopara1{
    background-image: url(../img/run_and_burn2.png) ;
    background-position: center;
    transform: translate(-50% -50%);
    min-height: 500px;
    background-repeat: no-repeat;

}

.foto2{
    position: relative;
    max-width: 15vw;
    margin: 10px;
}

.foto3{
    position: relative;
    max-width: 15vw;
    margin: 10px;
    padding: 0px;
}


.foto2 .legendafoto, .foto3 .legendafoto{
    position: absolute;
    bottom: 18px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5px;
    
}

.legendafoto h4{
    font-family: var(--font1);
    font-size: 0.8em;
    text-align: center;
}

ol{
    margin-left: 4vw;
    font-family: var(--font2);
    font-size: 0.8em;
    
}
.pequeno {
    margin: 15px;
}